<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Goals - GoalGetter</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../js/gsap/gsap.min.js"></script>
    <link rel="stylesheet" href="../css/stylesheet.css" />
    
  </head>

  <body class="bg-gray-100">
    <!--Logo-->
    <div class="flex flex-col text-center md:text-start md:flex-row min-h-screen">
      <div class="bg-neutral-300 border-r border-b border-neutral-500 md:border-b-0 min-w-56 py-6 px-0">
        <div class="flex justify-center px-4">
          <img src="/images/goalgetter-black.png" alt="Logo" class="h-5 object-contain"/>
        </div>
        <hr class="border-neutral-500 my-6 w-full">
        <!--Dashboard-->
        <div class="flex flex-col mx-4 mb-6">
          <h2 class="text-violet-600 text-m font-bold mb-2">Dashboard</h2>
          <a href="#" class="text-neutral-500 text-m font-bold mb-2 hover:text-violet-600 transition-colors duration-300 whitespace-nowrap">View Goals</a>
          <a href="../goals/new" class="text-neutral-500 text-m font-bold mb-2 hover:text-violet-600 transition-colors duration-300">New Goal</a>
        </div>
      <!--Account-->
        <div class="flex flex-col mx-4">
          <h2 class="text-m font-bold mb-2">Account</h2>
          <a href="#" class="text-neutral-500 text-m font-bold mb-2 hover:text-violet-600 transition-colors duration-300">Help</a>
          <a href="#" class="text-neutral-500 text-m font-bold mb-2 hover:text-violet-600 transition-colors duration-300">Privacy</a>
          <a href="#" id="logout" class="text-neutral-500 text-m font-bold mb-2 hover:text-violet-600 transition-colors duration-300">Logout</a>
        </div>
      </div>
      <div class="container mx-auto flex flex-col p-16">
        {{{ body }}}      
      </div>
    </div>
    <footer>
        <script src="../js/script.js"></script>
    </footer>
  </body>
</html>
