<main class='container mx-auto'>
  <section class='p-8'>
    <h1 class='text-3xl font-semibold mb-6'>Help</h1>
    <div class='mb-8'>
      <h2 class='text-xl font-semibold mb-4'>Frequently Asked Questions</h2>
      <div class='mb-4'>
        <h3 class='text-lg font-semibold'>How do I add a new goal?</h3>
        <p>To add a new goal, navigate to your dashboard and click on the "Add
          Goal" button. Fill out the required information and click "Submit".</p>
      </div>
    </div>
    <div>
      <h2 class='text-xl font-semibold mb-4'>Contact Us</h2>
      <p class='mb-4'>If you have any further questions or need assistance,
        please feel free to contact us:</p>
      <ul>
        <li>Email:
          <a
            href='mailto:support@goalgetter.com.au'
            class='text-purple-700 hover:underline'
          >support@goalgetter.com.au</a></li>
        <li>Phone: 0400 400 400</li>
      </ul>
    </div>
  </section>
</main>